@model IEnumerable<WebChat.Models.ChatEntryModel>

<body>
    <br>
    <br>
    <div class="chat-header"> <span class="user-container">
            <label for="username" class="username-label">Name: </label>
            <input type="text" id="userInput" name="username" class="username-input"/>
        </span></div><br>
<div class="chat-container">
    <div class="row p-1">
        <div><br>
            @foreach (var item in Model) {
                <p class = "chat-message">
                <span class="chat-user">  @Html.DisplayFor(modelItem => item.User) > </span>
                <span class="chat-content"> @Html.DisplayFor(modelItem => item.Message)</span>
                <span class="chat-time"> - @Html.DisplayFor(modelItem => item.Time)</span>
                </p>
            }
        </div>
        <p id="messageList"></p>
    </div>
</div>
<br>
<div class= "chat-input"><br><input type="text" class="w-100" id="messageInput" /></div>
</body>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>