@page


<div class="scrollable-section">
    <div class="row p-1">
        <div class="col-6">
            <ul id="messagesList"></ul>  
        </div>
    </div>
</div>

<div class="container">
    <div class="row p-1">
        <div class="col-8">
            <hr />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-1">User</div>
        <div class="col-5"><input type="text" id="userInput"/></div>
      
    </div>
   

    <div class="row p-1">
        <div class="col-8">
            <br>
            <input type="text" class="w-100" id="messageInput"/>
        </div>
    </div>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>