@page

<style>
    .scrollable-section {
        height: 300px; /* Adjust height to fit 4 lines */
        overflow-y: scroll; /* Enable vertical scrolling */
        overflow-x: hidden;
        border: 1px solid #6495ED; /* Add border for styling */
        padding: 10px; /* Add padding for content */
    }
        /* Style the scrollbar */
        .scrollable-section::-webkit-scrollbar {
            width: 2px; /* Set the width of the scrollbar */
        }

        /* Style the thumb */
        .scrollable-section::-webkit-scrollbar-thumb {
            background-color: #6495ED; /* Set the color of the thumb */
            border-radius: 5px; /* Add border-radius for rounded corners */
        }

        /* Style the track */
        .scrollable-section::-webkit-scrollbar-track {
            background-color: #eee; /* Set the color of the track */
        }

</style>


<div class="scrollable-section">
    <div class="row p-1">
        <div class="col-6">
            <ul id="messagesList"></ul>  
        </div>
    </div>
</div>

<div class="container">
    <div class="row p-1">
        <div class="col-8">
            <hr />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-1">User</div>
        <div class="col-5"><input type="text" id="userInput"/></div>
    </div>

    <div class="row p-1">
        <div class="col-8">
            <input type="text" class="w-100" id="messageInput"/>
        </div>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>